﻿body {
	font-family: Arial, sans-serif;
	text-align: center;
}

h1 {
	margin-top: 5px;
	font-size: 26px;
}

form {
	margin-top: 50px;
	display: inline-block;
	text-align: left;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

button {
	padding: 8px;
	padding-bottom: 7px;
	font-size: 14px;
	border-radius: 5px;
	border: none;
	background-color: #4CAF50;
	color: white;
	margin-right: 10px;
}


button.switch {
	position:absolute;
	right:0;
	top:10px;

	background-color: paleturquoise;
	color: black;
}

#sortByName {
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
	position: relative;
	top: -2px;
}

#output {
	margin-top: 50px;
	font-size: 16px;
	color: #333;
}

table {
	margin: 0 auto; /* center the table */
	border-collapse: collapse; /* remove the space between cells */
}

td, th {
	text-align: left; /* align the content of cells to the left */
	padding-right:1em;
}

div {
	position: relative;
	border: #d6ecff;
	border-width: 2px;
	border-style: solid;
	width: 30%;
	border-radius: 10px;
	margin: 0 auto;
}

ol#tasks-select {
	padding-left:20%;
	text-align: left;
}

/*td {
	border: red;
	border-width: 5px;
	border-style: solid;
}*/